<div>
    <div>

    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Rol: {{user.role}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Email: {{user.email}}</p>


    </div>

    <h1>Bienvenidos a los productos</h1>
    {{#each products}}
    <div class="product">
        <p>Titulo: {{this.title}}</p>
        <p>Descripcion: {{this.description}}</p>
        <p>Codigo: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoria: {{this.category}}</p>
        <p>Status: {{this.status}}</p>
        <p hidden id="product_id">{{this._id}}<p/>
        <a href="/addtocart/647367f3d5ff75ba5dab6f0c/product/{{this._id}}"><button>Agregar al carrito</button></a>
        {{!-- <button onclick="addToCart(this)">Agregar al carrito(con id cart localstorage)</button> --}}
    </div>
    <br><br>
    {{/each}}

    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}&limit=1"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&limit=1"><button>Siguiente</button></a>
    {{/if}}
</div>

<script src="/js/products.js"></script>
